<div class="form-container">
  <button class="cancel-icon" (click)="cancel()">
    <i class="bi bi-x-circle"></i>
  </button>
  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="categoryName">Category Name</label>
      <input id="categoryName" formControlName="categoryName" placeholder="Enter category name">
      <div *ngIf="categoryForm.get('categoryName')?.hasError('required')" class="error-message">
        Category Name is required
      </div>
    </div>
    <button type="submit" [disabled]="categoryForm.invalid">Submit</button>
  </form>
</div>