<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/">
        <img src="\logo.jpg" alt="E-Commerce Logo" />
      </a>
    </div>
    <ul class="nav-links">
      <li><a href="home">Home</a></li>
      <li><a href="/shop">Shop</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
    <div class="actions">

    <button routerLink="cart" class="btn btn-primary" (click)="navigateToCart()">
        <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
        <div style="font-size: 10px;" class="badge bg-danger">{{totalCountOfCartProducts}}</div>
    </button>
    <button *ngIf="!isLoggedIn" routerLink="login" class="btn btn-secondary" (click)="navigateToLoginPage()">Login</button>
    <button *ngIf="isLoggedIn" (click)="logout()" class="btn btn-secondary">Logout</button>
    </div>
  </nav>
</header>    